// VARS

// Units
$u: 5px;

// Paths
$p-images: '_/img/';

// Fonts
$f: Exo, Arial, sans-serif;

// Colors
$c-orange: #ffb319;
$c-orange-link: #ffd400;

// Sprites
$s-icons: url($p-images + 'icons.png');