// GRID

.grid-list {
	
	li {
		float: left;
		margin-right: $u*4;
	}
	
	.item {
		background: #fff;
		border-radius: 2px;
		box-shadow: rgba(0,0,0,.75) 0 1px 5px;
		display: block;
		padding: 2px;
		position: relative;
		
		img {
			display: block;
		}
		
		&:hover {
			.tooltip {
				display: block;
			}
		}
	}
	
	.tooltip {
		background: darken(#fff, 80);
		border-radius: $u;
		box-shadow: rgba(0,0,0,.75) 0 4px 8px;
		color: #fff;
		display: none;
		font: 400 12px $f;		
		position: absolute;
		text-align: center;
		width: 90%;
		margin: 0 4%;
		top: -25px;
		text-transform: uppercase;
		
		&:after {
			content: '';
			position: absolute;
			bottom: -10px;
			left: 50%;
			margin-left: -10px;
			@include arrow(10px, darken(#fff, 80), bottom, top);
		}
		
		span {
			display: inline-block;
			padding: $u*2;
		}
	}	
}

