// PORTFOLIO ITEM

.portfolio-item {

	> .content {
		padding-right: 0;
		max-width: none;

		figure {
			margin-top: $u*4;
			&:first-child { margin-top: 0; }
		}
	}

	.figure {
		background: #fff;
		box-shadow: rgba(0,0,0,.75) 0 1px 5px;
		display: block;
		padding: 4px;
		width: 90%;
		max-width: 850px;
	}
}