// STRUCTURE

body {
	background-image: url($p-images + 'bg-grad.jpg'), url($p-images + 'bg.png');
	background-repeat: no-repeat, repeat;
	background-position: top center, top left;
	background-attachment: fixed, fixed;
}

.main-wrapper {
	margin: auto;
	max-width: 1200px;
	min-width: 960px;
	padding: $u*6 0;
	position: relative;
}

.main-header {
	margin-left: $u*4;
	position: fixed;
	width: 170px;
	
	.logo {		
		font: 700 18px $f;
		position: relative;
		text-shadow: #000 0 -1px 0;
		text-transform: uppercase;
		
		a {
			color: #fff;
			text-decoration: none;
		}
		
		img {
			display: inline-block;
			vertical-align: middle;
		}
		
		span {
			position: relative;
			top: 2px;
		}
	}
	
	.slogan {
		color: darken(#fff, 15);
		display: block;
		font: 400 12px $f;
		margin: -5px 0 0 34px;
		text-shadow: #000 0 -1px 0;
		text-transform: uppercase;
	}
}

.main-content {
	margin-left: 200px;
}