// CSS3

// ***** You SHOULD NOT change this file. But if you have to, your updates must be GENERIC so they can fit further projects *****

// Border Radius
@mixin border-radius($rad, $isLegacy: false)
{
	@if ($isLegacy) {
		-moz-border-radius:		$rad;
		-webkit-border-radius:	$rad;
	}
	
	border-radius:			$rad;
}

// Transition
@mixin transition($property, $duration: .2s, $ease: linear, $delay: 0)
{
	$transition: $property $duration $ease;
	@if ($delay > 0) { $transition: $property $duration $ease $delay; }
	
	@each $prefix in webkit, moz, ms, o
	{
		#{''}-#{$prefix}-transition: $transition;		
	}
	
	transition: $transition;
}

// Linear Gradient
@mixin linear-gradient($start, $end)
{
    background: $start;	// Old browsers
    background: -moz-linear-gradient(top, $start 0%, $end 100%);	// FF3.6+
    background: -webkit-linear-gradient(top, $start 0%, $end 100%);	// Chrome10+,Safari5.1+
    background: -o-linear-gradient(top, $start 0%, $end 100%);	// Opera11.10+
    background: -ms-linear-gradient(top, $start 0%, $end 100%);	// IE10+
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$end');	// IE6-9
    background: linear-gradient(top, $start 0%, $end 100%);	// W3C
}